body{
    background-color: tan;
    margin: 0;
}
h1{
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 20px;
    border:2px solid white;
    border-radius: 15px;
    text-align: center;
}
#highlight{
    background-color:   lawngreen;
    display:inline-block;
}
.smaller {
    font-size: 1.3em;
    max-width:700px;
    margin:0 auto;  
}
h2{
    color: orange;
}
.purple{
    color: purple;
}